@import '../../../_vars';

a.anchor {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

/* SECTION */
.section__title-popular {
  margin-bottom: 14px;
  color: #000;
  font-size: 36px;
  font-weight: 900;
  line-height: 102px;
  text-align: center;
}

.section__items {
  margin-bottom: 98px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 246px);
  grid-gap: 30px;
  justify-content: center;
}

.section__title-rolls {
  margin-bottom: 14px;

  background-image: url('/assets/images/fish-loop_for-title-01.svg');
  background-repeat: repeat;
  background-position: center;

  color: #000;
  font-size: 36px;
  font-weight: 900;
  line-height: 102px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  .title-txt {
    margin-left: 15px;
  }
}

@media (max-width: 1140px) {
  /* SECTION */
  .section__items {
    margin-bottom: 98px;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    justify-content: center;

  }
}

@media (max-width: 930px) {
  a.anchor {
    top: -110px;
  }
  .section__title-rolls {
    font-size: 28px;
    margin-bottom: 6px;
  }
}

@media (max-width: 350px) {
  .section__items {
    margin-left: -25px;
  }
}
