<a class="anchor" id="rolls"></a>
<div class="section">
  <div class="section__title-rolls">
    <img class="title-icon" src="assets/img/icons_50px/icon_50_rolls-active.svg" alt="">
    <div class="title-txt">Роллы</div>
  </div>
  <div class="wrapper">
    <div class="section__items">
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<a class="anchor" id="sets"></a>
<div class="section">
  <div class="section__title-rolls">
    <img class="title-icon" src="assets/img/icons_50px/icon_50_rolls-active.svg" alt="">
    <div class="title-txt">Сеты</div>
  </div>
  <div class="wrapper">
    <div class="section__items">
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="item__info">
          <div class="item__info-a">
            <div class="picture">
              <img src="assets/img/lg/image_lg.png" alt="">
            </div>
            <div class="extra">
              <div class="extra-new"></div>
              <div class="extra-stock"></div>
            </div>
          </div>
          <div class="item__info-b">Водоросль с кунжутом</div>
          <div class="item__info-c">8 шт.</div>
          <div class="item__info-d">128 г.</div>
          <div class="item__info-e">
            <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
          </div>
          <div class="item__info-f">
            <div class="price__stock">
              159 <span>₴</span>
            </div>
            <div class="price__current">
              139 <span>₴</span>
            </div>
          </div>
          <a class="item__info-g" href="#">
            <span>+ В корзину</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

