.delivery {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 20px;

  &:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  }

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "a b"
  ". c"
  "d e"
  ". f"
  "g h"
  ". i";

  grid-column-gap: 16px;

  .icon-01 {
    grid-area: a;

    background-image: url('/assets/img/icon_delivery-01.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 24px;
    height: 24px;
  }

  .title-01 {
    grid-area: b;

    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  .txt-01 {
    grid-area: c;

    color: #828282;
    font-size: 12px;
    font-weight: 400;
  }

  .icon-02 {
    grid-area: d;

    background-image: url('/assets/img/icon_delivery-02.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 24px;
    height: 24px;
  }

  .title-02 {
    grid-area: e;

    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  .txt-02 {
    grid-area: f;

    color: #828282;
    font-size: 12px;
    font-weight: 400;
  }

  .icon-03 {
    grid-area: g;

    background-image: url('/assets/img/icon_delivery-03.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 24px;
    height: 24px;
  }

  .title-03 {
    grid-area: h;

    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  .txt-03 {
    grid-area: i;

    color: #828282;
    font-size: 12px;
    font-weight: 400;
  }
}

@media (max-width: 930px) {
  /* ITEM-CONTENT */
  .delivery {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    &:hover {
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    }

    display: grid;
    grid-template-columns: auto 130px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "a b c"
    "d e f"
    "g h i";

    grid-column-gap: 10px;

    .icon-01 {
      grid-area: a;

      margin: 12px 0;

      background-image: url('/assets/img/icon_delivery-01.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      width: 24px;
      height: 24px;
    }

    .title-01 {
      grid-area: b;

      margin: 12px 0;

      color: #000;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    .txt-01 {
      grid-area: c;

      color: #828282;
      font-size: 12px;
      font-weight: 400;
    }

    .icon-02 {
      grid-area: d;

      margin: 12px 0;

      background-image: url('/assets/img/icon_delivery-02.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      width: 24px;
      height: 24px;
    }

    .title-02 {
      grid-area: e;

      margin: 12px 0;

      color: #000;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    .txt-02 {
      grid-area: f;

      color: #828282;
      font-size: 12px;
      font-weight: 400;
    }

    .icon-03 {
      grid-area: g;

      margin: 12px 0;

      background-image: url('/assets/img/icon_delivery-03.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      width: 24px;
      height: 24px;
    }

    .title-03 {
      grid-area: h;

      margin: 12px 0;

      color: #000;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    .txt-03 {
      grid-area: i;

      color: #828282;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
