/* ITEM-POP-UP */
.item-pop-up {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100%;

  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 3;
}

.item-pop-up__main {
  margin: 200px auto;
  background-color: #fff;
  border-radius: 10px;

  width: 980px;
  height: 500px;

  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas: "a b" ". b";

  padding: 20px 20px;

  &:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  }

  .btn-close {
    grid-area: a;

    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 4;

    background-image: url('/assets/images/icon_40_btn-close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:hover {
      background-image: url('/assets/images/icon_40_btn-close-active.svg');
    }

    &:active {
      filter: saturate(50%);
    }
  }

  .product {
    grid-area: b;
  }
}



@media (max-width: 1140px) {
  /* ITEM-POP-UP */
  .item-pop-up__main {
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    height: 500px;

    display: grid;
    grid-template-columns: 40px 290px 40px;
    grid-template-rows: 40px 300px minmax(0, 40px) 1fr;
    grid-template-areas:
      "a b b"
      "b b b"
      ". . ."
      "c c c";

    padding: 20px 20px 40px 20px;

    &:hover {
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    }

    .btn-close {
      grid-area: a;

      height: 100%;
      width: 100%;

      background-image: url('/assets/images/icon_40_btn-close.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &:hover {
        background-image: url('/assets/images/icon_40_btn-close-active.svg');
      }

      &:active {
        filter: saturate(50%);
      }
    }
  }
}

@media (max-width: 930px) {
  /* ITEM-POP-UP */
  .wrapper {
    margin-left: 15px;
    margin-right: 20px;
  }

  .item-pop-up__main {
    grid-template-columns: 40px auto;
    justify-content: center;
    margin-top: 150px;
    width: 100%;
    min-height: 540px;

    .btn-close {
      position: relative;
    }
    .product {
      margin-left: -50px;
    }
  }
}

@media (max-width: 340px) {
  /* ITEM-POP-UP */
  .wrapper {
    margin-top: -130px;
  }
  .item-pop-up__main {
    min-height: 490px;
  }
}
