<div class="breadcrumbs-back-socials">
  <ul class="breadcrumbs">
    <li><a routerLink="/">{{ 'core.main' | translate }}</a></li>
    <li><a href="/#{{ categoryName.split(' ').join('_') }}">{{ categoryName }}</a></li>
    <li><a routerLink="./">{{ itemName }}</a></li>
  </ul>

  <a class="btn-back" routerLink="/">
    <span>&lt; {{ 'core.back' | translate }}</span>
  </a>
  <div class="socials">
    <span>{{ 'item.share' | translate }}:</span>
    <a (click)="share('vk')">
      <img src="/assets/images/icon_35_social_vk(color).svg" alt="vk">
    </a>
    <a (click)="share('fb')">
      <img src="/assets/images/icon_35_social_fb(color).svg" alt="fb">
    </a>
  </div>
</div>

