<footer id="footer" class="footer">
  <div class="wrapper">
    <div class="footer__items">
      <div class="item-tel">
        <img class="tel-a" src="/assets/images/icon_tel.svg" alt="{{ 'core.contacts' | translate }}">
        <span
          *ngFor="let telephone of telephones; let i = index"
          [ngClass]="{ 'tel-b': i === 0, 'tel-c': i === 1, 'tel-d': i === 2 }">
          {{ telephone | slice:0:9 }}
          <b>{{ telephone | slice:10 }}</b>
        </span>
      </div>
      <div class="item-location">
        <img src="/assets/images/icon_watches.svg" alt="watches">
        <span>{{ 'core.week' | translate }} <b>11:00 - 00:00</b></span>
        <img src="/assets/images/icon_geolocation.svg" alt="geolocation">
        <span>
          {{ 'core.prospect' | translate }}
          <b>{{ 'core.shevchenko' | translate }} 8а</b>
        </span>
      </div>
      <div class="item-nav">
        <a routerLink="/">{{ 'core.main' | translate }}</a>
        <a routerLink="/profile">{{ 'core.account' | translate }}</a>
        <a routerLink="/pages/delivery">{{ 'core.delivery' | translate }}</a>
        <a routerLink="/pages/about">{{ 'core.about' | translate }}</a>
        <a routerLink="/pages/contacts">{{ 'core.contacts' | translate }}</a>
      </div>
      <div class="item-socials">
        <a href="{{ socials.fb }}" target="_blank"><img src="/assets/images/icon_25_social_fb.svg" alt="fb"></a>
        <a href="{{ socials.inst }}" target="_blank"><img src="/assets/images/icon_25_social_inst.svg" alt="inst"></a>
      </div>
    </div>
  </div>
</footer>
