<footer class="footer">
  <div class="wrapper">
    <div class="footer__items">
      <div class="item-tel">
        <img class="tel-a" src="assets/img/icon_tel.svg" alt="телефон">
        <span class="tel-b">+38 (050) <b>50-65-888</b></span>
        <span class="tel-c">+38 (050) <b>50-65-888</b></span>
        <span class="tel-d">+38 (073) <b>50-65-888</b></span>
      </div>
      <div class="item-location">
        <img src="assets/img/icon_watches.svg" alt="часы">
        <span>Пн-Вс <b>11:00 - 00:00</b></span>
        <img src="assets/img/icon_geolocation.svg" alt="геолокация">
        <span>пр-т <b>Шевченко 8а</b></span>
      </div>
      <div class="item-nav">
        <a href="#">Главная</a>
        <a href="#">Аккаунт</a>
        <a href="#">Доставка и оплата</a>
        <a href="#">О нас</a>
        <a href="#">Контакты</a>
      </div>
      <div class="item-socials">
        <a href="#"><img src="assets/img/icon_25_social_vk.svg" alt="vk"></a>
        <a href="#"><img src="assets/img/icon_25_social_fb.svg" alt="fb"></a>
        <a href="#"><img src="assets/img/icon_25_social_inst.svg" alt="inst"></a>
      </div>
    </div>
  </div>
</footer>
