<div class="menu__container wrapper">
  <div *ngIf="loadingError | async">Error of loading categories...</div>
  <div class="menu">
      <a
        *ngFor="let category of categories | async; let i = index"
        class="menu__bg"
        routerLink="/"
        fragment="{{ category.name.split(' ').join('_') }}"
      >
        <div [ngClass]="{ 'menu__item': true, 'active': fragment === category.name.split(' ').join('_') }">
          <div *ngIf="fragment !== category.name.split(' ').join('_')" class="item-{{ i + 1 }}"></div>
          <div *ngIf="fragment === category.name.split(' ').join('_')" class="active-{{ i + 1 }}"></div>
          <div class="item-txt">{{ category.name }}</div>
        </div>
      </a>
  </div>
</div>
