<div class="checkout">
  <div class="header-wrapper wrapper content">
    <div class="checkout__main">
      <ul class="breadcrumbs">
        <li><a routerLink="/">{{ 'core.main' | translate }}</a></li>
        <li><a routerLink="/cart">{{ 'order.checkout' | translate }}</a></li>
      </ul>
      <div class="reducer" [ngStyle]="{ 'margin-bottom': 200 - items?.size * widthMultiplicator + 'px' }">
        <div *ngIf="items?.size" class="checkout__title">{{ 'order.checkout' | translate }}</div>
        <div *ngIf="!items?.size" class="checkout__title">{{ 'order.empty' | translate }}</div>
        <app-basket *ngIf="items?.size"></app-basket>
        <app-order-type *ngIf="items?.size" (orderType)="orderType = $event"></app-order-type>
        <app-fast-order *ngIf="items?.size && orderType === 'fast'"></app-fast-order>
        <app-detailed-order *ngIf="items?.size && orderType === 'detailed'"></app-detailed-order>
      </div>
    </div>
  </div>
</div>
