<div class="checkout">
  <div class="header-wrapper wrapper">
    <div class="checkout__main">
      <ul class="breadcrumbs">
        <li><a routerLink="/">{{ 'core.main' | translate }}</a></li>
        <li><a routerLink="/cart">{{ 'order.checkout' | translate }}</a></li>
      </ul>
      <div class="reducer">
        <div class="checkout__title">{{ 'order.checkout' | translate }}</div>
        <app-basket></app-basket>
        <app-order-type (orderType)="orderType = $event"></app-order-type>
        <app-fast-order *ngIf="orderType === 'fast'"></app-fast-order>
        <app-detailed-order *ngIf="orderType === 'detailed'"></app-detailed-order>
      </div>
    </div>
  </div>
</div>
