<div class="checkout">
  <div class="header-wrapper wrapper">
    <div class="checkout__main">

      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Оформление заказа</a></li>
      </ul>

      <div class="checkout__title">Оформление заказа</div>

      <div class="basket">
        <div class="basket__title">Ваша корзина</div>

        <div class="basket__list">
          <div class="basket__item">
            <a class="btn-delete" href="#"></a>

            <img class="item__image" src="/assets/img/mid/image_mid-01.png" alt="Красный дракон">

            <div class="item__title">Красный дракон</div>

            <div class="item__info">
              <div>8 шт.</div>
              <div>152 г.</div>
            </div>

            <div class="item__amount">
              <a class="minus" href="#"></a>
              <div class="counter">2</div>
              <a class="plus" href="#"></a>
            </div>

            <div class="item__price">
              <div class="price__stock active">
                290 <span>₴</span>
              </div>
              <div class="price__current">
                230 <span>₴</span>
              </div>
            </div>
          </div>
          <div class="basket__item">
            <a class="btn-delete" href="#"></a>

            <img class="item__image" src="/assets/img/mid/image_mid-02.png" alt="Красный дракон">

            <div class="item__title">Кунжутный лосось</div>

            <div class="item__info">
              <div>8 шт.</div>
              <div>152 г.</div>
            </div>

            <div class="item__amount">
              <a class="minus" href="#"></a>
              <div class="counter">2</div>
              <a class="plus" href="#"></a>
            </div>

            <div class="item__price">
              <div class="price__stock active">
                150 <span>₴</span>
              </div>
              <div class="price__current">
                110 <span>₴</span>
              </div>
            </div>
          </div>
        </div>

        <div class="basket__total">
          <div class="total-sum">
            <div class="total">Всего</div>
            <div class="sum">340<span>₴</span>
            </div>
          </div>
        </div>

        <div class="basket__to-pay">
          <div class="to-pay-sum">
            <div class="to-pay">К оплате</div>
            <div class="sum">340<span>₴</span>
            </div>
          </div>
        </div>
      </div>

      <div class="type-of-order">
        <div class="order__menu">
          <div class="menu-title">Тип заказа</div>
          <div class="menu-forms">
            <a href="#" class="item">Быстрый заказ</a>
            <a href="#" class="item active">Подробный заказ</a>
          </div>
        </div>

        <div class="form__fast">
          <form class="registration" action="#" method="post">
            <div class="form-bg">
              <div class="form-header">
                <img src="/assets/img/icon_delivery-04.svg" alt="">
                <div class="form-title">Контактные данные</div>
              </div>
              <div class="form-fields">
                <input type="text" name="login" value="Имя Фамилия">
                <input type="tel" name="telephone" value="+380">
              </div>
            </div>
            <input class="btn-checkout" type="submit" value="Оформить заказ">
          </form>
        </div>

        <div class="form__detailed active">
          <form class="registration" action="#" method="post">
            <div class="form-bg">
              <div class="form-header">
                <img src="/assets/img/icon_delivery-04.svg" alt="">
                <div class="form-title">Контактные данные</div>
              </div>
              <div class="form-fields">
                <div class="form-field-01">
                  <input type="text" name="login" value="Имя">
                  <input type="text" name="street" value="Улица">
                  <input type="text" name="house" value="Дом">
                </div>
                <div class="form-field-02">
                  <input type="text" name="office" value="Квартира / Офис">
                  <input type="text" name="flat" value="Домофон">
                  <input type="tel" name="telephone" value="+380">
                </div>
              </div>
            </div>
            <div class="delivery-bg">
              <div class="delivery-header">
                <img src="/assets/img/icon_delivery-01.svg" alt="">
                <div class="delivery-title">Время доставки</div>
              </div>
              <div class="form-fields">
                <div class="form-field-01">
                  <div class="item-radio">
                    <input type="radio" name="time" value="Имя"><span>Как можно скорее</span>
                  </div>
                  <div class="item-radio">
                    <input type="radio" name="time" value="Имя"><span>К определенному времени</span>
                  </div>
                </div>
                <div class="form-field-02">
                  <input type="text" name="date" value="21.11.19">
                  <input type="text" name="time" value="19:40">
                </div>
              </div>
            </div>
            <div class="payment-bg">
              <div class="payment-header">
                <img src="/assets/img/icon_delivery-02.svg" alt="">
                <div class="payment-title">Тип оплаты</div>
              </div>
              <div class="form-fields">
                <div class="form-field-01">
                  <div class="item-radio">
                    <input type="radio" name="time" value="Имя"><span>Наличными курьеру</span>
                  </div>
                  <div>Сдача с:</div>
                </div>
                <div class="form-field-02">
                  <input type="text" name="date" value="500 грн">
                </div>
              </div>
            </div>
            <input class="btn-checkout" type="submit" value="Оформить заказ">
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
