<div class="basket">
  <div class="basket__title">{{ 'order.your_basket' | translate }}</div>

  <div class="basket__list">
  <div class="basket__item">
    <a class="btn-delete" href="#"></a>

    <img class="item__image" src="/assets/img/mid/image_mid-01.png" alt="Красный дракон">

    <div class="item__title">Красный дракон</div>

    <div class="item__info">
      <div>8 {{ 'product.pieces' | translate }}</div>
      <div>152 {{ 'product.gram' | translate }}</div>
    </div>

    <div class="item__amount">
      <a class="minus" href="#"></a>
      <div class="counter">2</div>
      <a class="plus" href="#"></a>
    </div>

    <div class="item__price">
      <div class="price__stock active">
        290 <span>₴</span>
      </div>
      <div class="price__current">
        230 <span>₴</span>
      </div>
    </div>
  </div>
  <div class="basket__item">
    <a class="btn-delete" href="#"></a>

    <img class="item__image" src="/assets/img/mid/image_mid-02.png" alt="Красный дракон">

    <div class="item__title">Кунжутный лосось</div>

    <div class="item__info">
      <div>8 шт.</div>
      <div>152 г.</div>
    </div>

    <div class="item__amount">
      <a class="minus" href="#"></a>
      <div class="counter">2</div>
      <a class="plus" href="#"></a>
    </div>

    <div class="item__price">
      <div class="price__stock active">
        150 <span>₴</span>
      </div>
      <div class="price__current">
        110 <span>₴</span>
      </div>
    </div>
  </div>
</div>

  <div class="basket__total">
  <div class="total-sum">
    <div class="total">{{ 'order.total' | translate }}</div>
    <div class="sum">340<span>₴</span>
    </div>
  </div>
</div>

  <div class="basket__to-pay">
  <div class="to-pay-sum">
    <div class="to-pay">{{ 'order.to_pay' | translate }}</div>
    <div class="sum">340<span>₴</span>
    </div>
  </div>
</div>
</div>
