<div class="header-wrapper wrapper">
  <div class="about__center">
    <p><strong>Хотите вкусные и качественные суши?</strong></p>
    <p><strong>О нас</strong></p>
    <p><strong>Мы физическая точка TakiDa приготовление суши и роллов.</strong></p>
  </div>

  <p>Суши Одесса, Быстрая доставка лучших суши в Одессе, TakiDa —</p>
  <p>
    адекватные цены и  приятные блюда, у нас вы останетесь довольны, развеем все сомнения, в Одессе лучше не найти.
    У нас японские технологии и методология приготовления.
  </p>
  <p>Логистика продумана — доставляем точно в срок.</p>
  <p>Так же у нас присутствует самовывоз.</p>
  <p>Заказ по телефону или через интернет. Быстро! Удобно! Выгодно!</p>
  <p>
    Мы принимаем заказы — либо по телефону, либо на нашем сайте,
    где удобная навигация и подробные описания всех блюд позволяют Вам сделать заказ быстро и обдуманно.
  </p>
  <p>
    Заказать роллы быстро — только у нас в Одессе в ресторане Takida,
    оставьте свой номер телефона и мы моментально свяжемся с Вами
  </p>
  <p><a href="/"><strong>sushi-bar.com.ua</strong></a></p>
</div>

