<div class="header-wrapper wrapper content">
  <div class="about__center">
    <p><strong>{{ 'about.text1' | translate }}</strong></p>
    <p><strong>{{ 'core.about' | translate }}</strong></p>
    <p><strong>{{ 'about.text2' | translate }}</strong></p>
  </div>
  <div>{{ 'about.text3' | translate }}, TakiDa —</div>
  <div>{{ 'about.text4' | translate }}</div>
  <p>{{ 'about.text5' | translate }}</p>
  <p>{{ 'about.text6' | translate }}</p>
  <p>{{ 'about.text7' | translate }}</p>
  <p>{{ 'about.text8' | translate }}</p>
  <p>{{ 'about.text9' | translate }}</p>
  <p><a href="/"><strong>sushi-bar.com.ua</strong></a></p>
</div>

