<div class="main">
  <header class="header">
    <div class="header-grid wrapper">
      <a class="header__logo" href="#">
        <img src="assets/img/logo_taki-da.png" alt="логотип TakiDa">
      </a>
      <div class="header__nav">
        <a href="#">Главная</a>
        <a href="#">Доставка и оплата</a>
        <a href="#">О нас</a>
        <a href="#">Контакты</a>
      </div>
      <div class="header__socials">
        <a href="#"><img src="assets/img/icon_15_social_vk.svg" alt="vk"></a>
        <a href="#"><img src="assets/img/icon_15_social_fb.svg" alt="fb"></a>
        <a href="#"><img src="assets/img/icon_15_social_inst.svg" alt="inst"></a>
      </div>
      <div class="header__lang-acc">
        <div class="lang">
          <select name="language" id="language">
            <option value="russian">RUS</option>
            <option value="ukrainian">UKR</option>
          </select>
        </div>
        <div class="acc">
          <img src="assets/img/icon_account.svg" alt="">
          <a href="#">Аккаунт</a>
        </div>
      </div>
      <div class="header__contacts">
        <img class="contacs-a" src="assets/img/icon_tel.svg" alt="">
        <div class="contacs-b">
          <select name="tel" id="tel">
            <option value="main">
              +38 (050) 50-65-888
            </option>
            <option value="second">
              +38 (073) 50-65-888
            </option>
          </select>
        </div>
        <img class="contacs-c" src="assets/img/icon_watches.svg" alt="">
        <span class="contacs-d">Пн-Вс <b>11:00 - 00:00</b></span>
        <img class="contacs-e" src="assets/img/icon_geolocation.svg" alt="">
        <span class="contacs-f">пр-т <b>Шевченко 8а</b></span>
      </div>
      <div class="header__call-me">
        <a class="call-me__btn" href="#">
          <img src="assets/img/icon_25_call.svg" alt="">
          <span>Перезвоните мне</span>
        </a>
      </div>
      <div class="header__basket">
        <a class="basket__btn" href="#">
          <img class="btn-a" src="assets/img/icon_25_basket.svg" alt="">
          <span class="btn-b">Корзина</span>
          <span class="btn-c">5 товаров</span>
        </a>
      </div>
    </div>
  </header>

  <div class="header-mobile">
    <div class="header-mobile-grid wrapper">
      <a class="header-mobile__logo" href="#">
        <img src="assets/img/logo_taki-da.png" alt="логотип TakiDa">
      </a>
      <div class="header-mobile__contacts">
        <img class="contacs-a" src="assets/img/icon_tel.svg" alt="">
        <img class="contacs-b" src="assets/img/arrow-for-select-01.svg" alt="">
        <ul>
          <li><a href="#">+38 (050) 50-65-888</a></li>
          <li><a href="#">+38 (073) 50-65-888</a></li>
        </ul>
      </div>
      <div class="header-mobile__lang">
        <div class="lang">
          <select name="language" id="language">
            <option value="russian">RUS</option>
            <option value="ukrainian">UKR</option>
          </select>
        </div>
      </div>
      <div class="header-mobile__nav">
        <a href="#"><img src="assets/img/icons_50px/icon_50_menu-active.svg" alt="кнопка меню навигации"></a>
      </div>
      <div class="nav-menu">
        <div class="nav-menu-grid wrapper">
          <a class="nav-menu__btn-back" href="index.html">
            <img src="assets/img/icons_50px/icon_50_arrow-active.svg" alt="Назад">
          </a>
          <div class="nav-menu__list">
            <a href="#">Главная</a>
            <a href="#">Аккаунт</a>
            <a href="#">Доставка И Оплата</a>
            <a href="#">О Нас</a>
            <a href="#">Контакты</a>
          </div>
          <div class="nav-menu__call-me">
            <a class="call-me__btn" href="#">
              <img src="assets/img/icon_25_call.svg" alt="">
              <span>Перезвоните мне</span>
            </a>
          </div>
          <div class="nav-menu__basket">
            <a class="basket__btn" href="#">
              <img class="btn-a" src="assets/img/icon_25_basket.svg" alt="">
              <span class="btn-b">Корзина</span>
              <span class="btn-c">5 товаров</span>
            </a>
          </div>
          <div class="nav-menu__socials">
            <a href="#"><img src="assets/img/icon_15_social_vk.svg" alt="vk"></a>
            <a href="#"><img src="assets/img/icon_15_social_fb.svg" alt="fb"></a>
            <a href="#"><img src="assets/img/icon_15_social_inst.svg" alt="inst"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu__container">
    <div class="menu">
      <a class="menu__bg" href="#">
        <div class="menu__item">
          <div class="item-01"></div>
          <div class="item-txt">Роллы</div>
        </div>
      </a>
      <a class="menu__bg" href="#">
        <div class="menu__item">
          <div class="item-02"></div>
          <div class="item-txt">Сеты</div>
        </div>
      </a>
      <a class="menu__bg" href="#">
        <div class="menu__item">
          <div class="item-03"></div>
          <div class="item-txt">Нигири</div>
        </div>
      </a>
      <a class="menu__bg" href="#">
        <div class="menu__item">
          <div class="item-04"></div>
          <div class="item-txt">Горячие Роллы</div>
        </div>
      </a>
      <a class="menu__bg" href="#">
        <div class="menu__item">
          <div class="item-new active"></div>
          <div class="item-05"></div>
          <div class="item-txt">Вок</div>
        </div>
      </a>
      <a class="menu__bg" href="#">
        <div class="menu__item">
          <div class="item-06"></div>
          <div class="item-txt">Напитки</div>
        </div>
      </a>
      <a class="menu__bg" href="#">
        <div class="menu__item">
          <div class="item-07"></div>
          <div class="item-txt">Дополнительно</div>
        </div>
      </a>
    </div>
  </div>

  <div class="sl">
    <div class="sl__slide">
      <img src="assets/img/bg-slide_01.jpg" alt="Слайд-01">
    </div>
    <div class="sl__slide">
      <img src="assets/img/bg-slide_02.jpg" alt="Слайд-02">
    </div>
    <div class="sl__slide">
      <img src="assets/img/bg-slide_03.jpg" alt="Слайд-03">
    </div>
  </div>

  <div class="section">
    <div class="section__title-popular">Популярные Сейчас</div>
    <div class="wrapper">
      <div class="section__items">
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new active"></div>
                <div class="extra-stock active"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock active">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section__title-rolls">
      <img class="title-icon" src="assets/img/icons_50px/icon_50_rolls-active.svg" alt="">
      <div class="title-txt">Роллы</div>
    </div>
    <div class="wrapper">
      <div class="section__items">
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item__info">
            <div class="item__info-a">
              <div class="picture">
                <img src="assets/img/lg/image_lg.png" alt="">
              </div>
              <div class="extra">
                <div class="extra-new"></div>
                <div class="extra-stock"></div>
              </div>
            </div>
            <div class="item__info-b">Водоросль с кунжутом</div>
            <div class="item__info-c">8 шт.</div>
            <div class="item__info-d">128 г.</div>
            <div class="item__info-e">
              <span>Рис, Сыр Филадельфия, Нори, Авокадо, Угорь</span>
            </div>
            <div class="item__info-f">
              <div class="price__stock">
                159 <span>₴</span>
              </div>
              <div class="price__current">
                139 <span>₴</span>
              </div>
            </div>
            <a class="item__info-g" href="#">
              <span>+ В корзину</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="wrapper">
      <div class="footer__items">
        <div class="item-tel">
          <img class="tel-a" src="assets/img/icon_tel.svg" alt="телефон">
          <span class="tel-b">+38 (050) <b>50-65-888</b></span>
          <span class="tel-c">+38 (050) <b>50-65-888</b></span>
          <span class="tel-d">+38 (073) <b>50-65-888</b></span>
        </div>
        <div class="item-location">
          <img src="assets/img/icon_watches.svg" alt="часы">
          <span>Пн-Вс <b>11:00 - 00:00</b></span>
          <img src="assets/img/icon_geolocation.svg" alt="геолокация">
          <span>пр-т <b>Шевченко 8а</b></span>
        </div>
        <div class="item-nav">
          <a href="#">Главная</a>
          <a href="#">Аккаунт</a>
          <a href="#">Доставка и оплата</a>
          <a href="#">О нас</a>
          <a href="#">Контакты</a>
        </div>
        <div class="item-socials">
          <a href="#"><img src="assets/img/icon_25_social_vk.svg" alt="vk"></a>
          <a href="#"><img src="assets/img/icon_25_social_fb.svg" alt="fb"></a>
          <a href="#"><img src="assets/img/icon_25_social_inst.svg" alt="inst"></a>
        </div>
      </div>
    </div>
  </footer>
</div>
