<div class="item">
  <div class="item__info">
    <div class="item__info-a">
      <div class="picture">
        <img src="/assets/img/lg/image_lg.png" alt="">
      </div>
      <div
        *ngIf="item.oldPrice"
        class="extra"
      >
        <div class="extra-new">{{ 'product.new' | translate }}</div>
        <div class="extra-stock">{{ 'product.stock' | translate }}</div>
      </div>
    </div>
    <div class="item__info-b">{{ item.name }}</div>
    <div class="item__info-c">{{ item.pieces }} {{ 'product.pieces' | translate }}</div>
    <div class="item__info-d">{{ item.weight }} {{ 'product.gram' | translate }}</div>
    <div class="item__info-e">
      <span>
        <span *ngFor="let component of item.components | slice:0:8">
          {{ component.name }}<span *ngIf="component.name !== item.components[item.components.slice(0, 8).length - 1].name">,</span>
        </span>
      </span>

    </div>
    <div class="item__info-f">
      <div *ngIf="item.oldPrice" class="price__stock">
        {{ item.oldPrice }} <span>₴</span>
      </div>
      <div class="price__current">
        {{ item.price }} <span>₴</span>
      </div>
    </div>
    <a class="item__info-g" href="#">
      <span>+ {{ 'product.to_card' | translate }}</span>
    </a>
  </div>
</div>
