<div class="item__image">
  <div class="picture">
    <img src="/assets/img/lg/image_item-content.png" alt="">
  </div>
  <div
    *ngIf="item.oldPrice"
    class="extra"
  >
    <div class="extra-new">{{ 'product.new' | translate }}</div>
    <div class="extra-stock">{{ 'product.stock' | translate }}</div>
  </div>
</div>

<div class="item__info">
  <div class="info-a">{{ item.name }}</div>
  <div class="info-b">
    <div>{{ item.pieces }} {{ 'product.pieces' | translate }}</div>
    <div>{{ item.weight }} {{ 'product.gram' | translate }}</div>
  </div>
  <div *ngIf="item.components.length" class="info-c">
    <div
      *ngFor="let component of item.components"
      class="component"
    >
      <img src="/assets/img/composition_components/cc_01.png" alt="{{ component.name }}">
      <span>{{ component.name }}</span>
    </div>
  </div>
  <div class="info-d">
    <div
      *ngIf="item.oldPrice"
      class="price__stock"
    >
      {{ item.oldPrice }} <span>₴</span>
    </div>
    <div class="price__current">
      {{ item.price }} <span>₴</span>
    </div>
  </div>
  <div class="info-e">
    <div class="minus" (click)="changeNumber(-1)"></div>
    <div class="counter">{{ number }}</div>
    <div class="plus" (click)="changeNumber(1)"></div>
  </div>
  <div class="info-f" (click)="replenishBasket($event, item)" #toCartButtonElement>
    <span>{{ 'product.to_card' | translate }}</span>
  </div>
</div>
