@import '../../../../_vars';

.item__image {
  grid-area: b;

  display: grid;
  justify-items: center;

  .extra {
    margin-top: -360px;
    margin-right: -265px;

    display: flex;
    flex-direction: column;

    .extra-new.active {
      display: block;
    }

    .extra-new {
      display: none;

      background-image: url('/assets/img/icons_50px/icon_50_new.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 80px;
      min-width: 80px;

      margin-bottom: 10px;
    }

    .extra-stock.active {
      display: block;
    }

    .extra-stock {
      display: none;

      background: #FF7A00;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 80px;
      min-width: 80px;

      margin-bottom: 10px;
    }
  }
}

.item__info {
  grid-area: c;
  width: 430px;

  background-color: #fff;
  border-radius: 10px;
  border: 2px dashed #e0e0e0;
  padding: 30px;
  position: relative;
  top: -340px;
  left: 400px;

  &:before {
    position: relative;
    right: 100%;
    top: 18px;
    left: -340px;
    content: url('/assets/img/pop-up_before.svg');
  }

  &:after {
    border: 15px solid transparent;
    border-right-color: #fff;
    position: absolute;
    right: 100%;
    top: 82.5px;
    content: '';
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(30px, auto) 60px auto 30px 43px;
  grid-template-areas: "a a a"
  "b b ."
  "c c c"
  ". . ."
  "d e f";
  grid-column-gap: 10px;

  .info-a {
    grid-area: a;

    color: #000;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
  }

  .info-b {
    grid-area: b;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 16px;
    align-items: center;

    div {
      display: grid;
      align-items: center;

      color: #4f4f4f;
      font-size: 12px;
      font-weight: 300;
      text-align: center;

      height: 17px;
      width: 50px;
      background-color: #f6f5eb;
      border-radius: 10px;
    }
  }

  .info-c {
    grid-area: c;

    padding: 20px 0 10px;
    border-top: 1px dotted #ebeadf;
    border-bottom: 1px dotted #ebeadf;

    display: grid;
    grid-template-columns: repeat(auto-fit, 70px);

    .component {
      margin-top: 5px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 60px auto;
      justify-items: center;

      text-align: center;

      span {
        color: #000;
        font-size: 10px;
        font-weight: 400;
      }
    }
  }

  .info-d {
    grid-area: d;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .price__stock.active {
      display: flex;
      align-items: center;
    }

    .price__stock {
      display: none;
      color: #bdbdbd;
      font-size: 18px;
      font-weight: 700;

      margin-right: 5px;

      position: relative;

      &:after {
        content: "";
        background-color: @menu-active;
        opacity: 0.5;
        height: 3px;
        width: 80%;
        position: absolute;
        top: 47.5%;
        left: -5%;
        transform: rotate(30deg);
      }

      span {
        color: #bdbdbd;
        font-size: 10px;
        font-weight: 300;

        margin-left: 5px;
      }
    }

    .price__current {
      color: #000;
      font-size: 24px;
      font-weight: 700;

      display: flex;
      align-items: center;

      margin-right: 5px;

      span {
        color: #4f4f4f;
        font-size: 12px;
        font-weight: 300;

        margin-left: 5px;
      }
    }
  }

  .info-e {
    grid-area: e;

    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: 30px;
    grid-column-gap: 10px;

    align-content: center;

    .minus {
      background-image: url('/assets/img/icons_30px/icon_30_minus.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &:hover {
        background-image: url('/assets/img/icons_30px/icon_30_minus-active.svg');
      }

      &:active {
        filter: contrast(50%);
      }
    }

    .plus {
      background-image: url('/assets/img/icons_30px/icon_30_plus.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &:hover {
        background-image: url('/assets/img/icons_30px/icon_30_plus-active.svg');
      }

      &:active {
        filter: contrast(50%);
      }
    }

    .counter {
      text-align: center;

      color: #4f4f4f;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;

      width: 100%;

      background-color: #fff;
      border-radius: 10px;
      border: 1px solid #fff5f4;

    }
  }

  .info-f {
    grid-area: f;

    height: 100%;
    width: 138px;
    background-color: #fff;
    border: 1px solid @menu-active;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;

    color: @menu-active;
    font-size: 14px;
    font-weight: 700;

    display: grid;

    transition: color .1s linear;

    &:hover {
      color: #fff;
      background-color: @menu-active;
    }

    span {
      align-self: center;
    }
  }
}

@media (max-width: 1140px) {
  .picture {
    margin-left: -120px;
  }

  .extra {
    margin-top: -30px;
    margin-left: -170px;
  }

  .item__info {
    left: 300px;
  }
}

@media (max-width: 930px) {
  .item__image {
    grid-area: d;
    position: relative;

    display: grid;
    justify-items: center;
    margin: -30px 0 0 50px;
    .picture {
      img {
        object-fit: fill;
        width: 240px;
        height: 240px;
      }
    }

    .extra {
      margin-top: -220px;
      margin-right: -220px;

      .extra-new.active {
        display: block;
      }

      .extra-new {
        display: none;

        background-image: url('/assets/img/icons_50px/icon_50_new.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 50px;
        min-width: 50px;

        margin-bottom: 10px;
      }

      .extra-stock.active {
        display: block;
      }

      .extra-stock {
        display: none;

        background-image: url('/assets/img/icons_50px/icon_50_stock-active.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 50px;
        min-width: 50px;

        margin-bottom: 10px;
      }
    }
  }

  .item__info {
    grid-area: e;

    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    top: -20px;
    left: -40px;
    margin-bottom: 5px;
    width: 105%;

    &:after {
      border: 6px solid transparent;
      border-bottom-color: #fff;
      position: absolute;
      right: 50%;
      top: -25px;
      bottom: 100%;
      content: url('/assets/img/pop-up_before_up.svg');;
    }

    &:hover {
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 30px 95px 35px 35px 0 43px;
    grid-template-areas: "a a a" "b b b" "c c c" ". . ." "d e e" ". . ." "f f f";
    grid-column-gap: 10px;

    .info-a {
      grid-area: a;

      color: #000;
      font-size: 18px;
      font-weight: 900;
      line-height: 20px;
    }

    .info-b {
      grid-area: b;
      display: grid;
      grid-template-columns: 45px auto;
      grid-template-rows: 30px;
      grid-column-gap: 16px;
      align-items: center;

      div {
        display: grid;
        align-items: center;

        color: #4f4f4f;
        font-size: 12px;
        font-weight: 300;
        text-align: center;

        height: 17px;
        width: 50px;
        background-color: #f6f5eb;
        border-radius: 10px;
      }
    }

    .info-c {
      grid-area: c;
      border-top: 1px dotted #ebeadf;
      border-bottom: 1px dotted #ebeadf;

      display: grid;
      grid-gap: 16px;
      padding: 2px 5px 8px 5px;
      grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(50px,1fr);
      overflow-x: auto;

      .component {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 40px;
        grid-template-rows: 50px auto;
        justify-items: center;

        text-align: center;

        span {
          color: #000;
          font-size: 10px;
          font-weight: 400;
        }
      }
    }

    .info-d {
      grid-area: d;

      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: -50px;
      margin-left: 10px;

      .price__stock.active {
        display: flex;
        align-items: center;
      }

      .price__stock {
        display: none;
        color: #bdbdbd;
        font-size: 16px;
        font-weight: 700;

        margin-right: 5px;

        position: relative;

        &:after {
          content: "";
          background-color: @menu-active;
          opacity: 0.5;
          height: 3px;
          width: 80%;
          position: absolute;
          top: 47.5%;
          left: -5%;
          transform: rotate(30deg);
        }

        span {
          color: #bdbdbd;
          font-size: 12px;
          font-weight: 300;

          margin-left: 5px;
        }
      }

      .price__current {
        color: #000;
        font-size: 26px;
        font-weight: 700;

        display: flex;
        align-items: center;

        margin-right: 5px;

        span {
          color: #4f4f4f;
          font-size: 14px;
          font-weight: 300;

          margin-left: 5px;
        }
      }
    }

    .info-e {
      grid-area: e;
      margin-top: -50px;
      display: grid;
      grid-template-columns: 60px 30px 60px;
      grid-template-rows: 30px;
      grid-column-gap: 0px;
      justify-content: center;

      .minus {
        background-image: url('/assets/img/icons_30px/icon_30_minus.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:hover {
          background-image: url('/assets/img/icons_30px/icon_30_minus-active.svg');
        }

        &:active {
          filter: contrast(50%);
        }
      }

      .plus {
        background-image: url('/assets/img/icons_30px/icon_30_plus.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:hover {
          background-image: url('/assets/img/icons_30px/icon_30_plus-active.svg');
        }

        &:active {
          filter: contrast(50%);
        }
      }

      .counter {
        text-align: center;
        color: #4f4f4f;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;

        width: 100%;

        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #fff5f4;

      }
    }

    .info-f {
      grid-area: f;
      margin-bottom: 15px;
      align-self: center;
      justify-self: center;
      height: 100%;
      width: 100%;
      background-color: #fff;
      border: 1px solid @menu-active;
      border-radius: 10px;

      text-decoration: none;
      text-align: center;

      color: @menu-active;
      font-size: 14px;
      font-weight: 700;

      display: grid;

      transition: color .1s linear;

      &:hover {
        color: #fff;
        background-color: @menu-active;
      }

      span {
        align-self: center;
      }
    }
  }

  .delivery {
    grid-area: f;

    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    &:hover {
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    }

    display: grid;
    grid-template-columns: auto 130px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "a b c" "d e f" "g h i";

    grid-column-gap: 10px;

    .icon-01 {
      grid-area: a;

      margin: 12px 0;

      background-image: url('/assets/img/icon_delivery-01.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      width: 24px;
      height: 24px;
    }

    .title-01 {
      grid-area: b;

      margin: 12px 0;

      color: #000;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    .txt-01 {
      grid-area: c;

      color: #828282;
      font-size: 12px;
      font-weight: 400;
    }

    .icon-02 {
      grid-area: d;

      margin: 12px 0;

      background-image: url('/assets/img/icon_delivery-02.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      width: 24px;
      height: 24px;
    }

    .title-02 {
      grid-area: e;

      margin: 12px 0;

      color: #000;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    .txt-02 {
      grid-area: f;

      color: #828282;
      font-size: 12px;
      font-weight: 400;
    }

    .icon-03 {
      grid-area: g;

      margin: 12px 0;

      background-image: url('/assets/img/icon_delivery-03.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      width: 24px;
      height: 24px;
    }

    .title-03 {
      grid-area: h;

      margin: 12px 0;

      color: #000;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    .txt-03 {
      grid-area: i;

      color: #828282;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
