<div class="item__image">
  <div class="picture">
    <img src="/assets/img/lg/image_item-content.png" alt="">
  </div>
  <div class="extra">
    <div class="extra-new active"></div>
    <div class="extra-stock active"></div>
  </div>
</div>

<div class="item__info">
  <div class="info-a">Роллы Унаги С Креветкой</div>
  <div class="info-b">
    <div>8 шт.</div>
    <div>152 г.</div>
  </div>
  <div class="info-c">
    <div class="component">
      <img src="/assets/img/composition_components/cc_01.png" alt="Рис">
      <span>Рис</span>
    </div>
    <div class="component">
      <img src="/assets/img/composition_components/cc_02.png" alt="Огурец">
      <span>Огурец</span>
    </div>
    <div class="component">
      <img src="/assets/img/composition_components/cc_03.png" alt="Сыр Филадельфия">
      <span>Сыр Филадельфия</span>
    </div>
    <div class="component">
      <img src="/assets/img/composition_components/cc_04.png" alt="Угорь">
      <span>Угорь</span>
    </div>
    <div class="component">
      <img src="/assets/img/composition_components/cc_05.png" alt="Креветка">
      <span>Креветка</span>
    </div>
    <div class="component">
      <img src="/assets/img/composition_components/cc_06.png" alt="Нори">
      <span>Нори</span>
    </div>
  </div>
  <div class="info-d">
    <div class="price__stock active">
      159 <span>₴</span>
    </div>
    <div class="price__current">
      139 <span>₴</span>
    </div>
  </div>
  <div class="info-e">
    <a class="minus" (click)="changeNumber(-1)"></a>
    <div class="counter">{{ number }}</div>
    <a class="plus" (click)="changeNumber(1)"></a>
  </div>
  <a class="info-f" href="#">
    <span>В корзину</span>
  </a>
</div>
