<div class="header-wrapper wrapper">
  <p>Доставка и оплата:</p>
  <p>
    Наш интернет - сайт предлагает доставку товара.
    Все заказы перед отправкой тщательно проверяются.
    Время осуществления доставки зависит от времени размещения заказа и приготовления.
    Доставка осуществляется с Пн-Вс 11:00 - 23:00
  </p>
  <p>
    Вы можете осуществить самовывоз заказа по адресу: г. Одесса, пр-т Шевченко 8а.
    Ориентировочное время доставки по городу занимает от 30 до 80 минут.
  </p>
  <p>
    Вы можете сделать предварительный заказ на определенное время,
    предварительно оговорив детали с менеджером по телефону.
  </p>
  <p>Способы оплаты:</p>
  <p>
    Оплатить заказ Вы можете наличными курьеру по факту доставки.
    Вы можете оплатить заказ в точке выдачи при самовывозе товара,
    наличными средствами или банковской картой, по адресу: г. Одесса, пр-т Шевченко 8а.
  </p>
  <p>Способы заказа:</p>
  <p>Осуществить заказ можно несколькими способами:</p>
  <p>1. Оформить корзину и доставку на сайте: https://sushi-bar.com.ua</p>
  <p>2. Контактным телефонами: +38 (050) 50-65-888, +38 (073) 50-65-888</p>
  <p>3. Самовывозом по адресу г.Одесса Пр-т Шевченко 8а.</p>
  <p>
    Оформив заказ суши у нас вы получите только качественный и свежий продукт.
    Только у нас вы сможете почувствовать наслаждение от нашей еды.
  </p>
</div>

