<div class="header-wrapper wrapper content">
  <p><strong>{{ 'core.about' | translate }}:</strong></p>
  <p>{{ 'delivery.text1' | translate }} 11:00 - 23:00</p>
  <p>{{ 'delivery.free' | translate }}</p>
  <p>
    {{ 'delivery.text2' | translate }}: {{ 'contacts.address' | translate }}.
    {{ 'delivery.text3' | translate }}
  </p>
  <p>{{ 'delivery.text4' | translate }}</p>
  <p>{{ 'delivery.text5' | translate }}:</p>
  <p>{{ 'delivery.text6' | translate }}: {{ 'contacts.address' | translate }}.</p>
  <p>{{ 'delivery.text7' | translate }}:</p>
  <p>{{ 'delivery.text8' | translate }}:</p>
  <p>1. {{ 'delivery.text9' | translate }}: <a href="/">https://sushi-bar.com.ua</a></p>
  <div>2. {{ 'delivery.text10' | translate }}:</div>
  <div *ngFor="let telephone of telephones"> {{ telephone }}</div>
  <p>3. {{ 'delivery.text11' | translate }}: {{ 'contacts.address' | translate }}.</p>
  <p>{{ 'delivery.text12' | translate }}</p>
</div>

