<div class="item-content">
  <div class="header-wrapper wrapper">
    <div class="item-content__main">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Роллы</a></li>
        <li><a href="#">Роллы унаги с креветкой</a></li>
      </ul>

      <a class="btn-back" href="index.html">
        <span>&lt; Назад</span>
      </a>
      <div class="socials">
        <span>Поделиться:</span>
        <a href="#">
          <img src="/assets/img/icon_35_social_vk(color).svg" alt="vk">
        </a>
        <a href="#">
          <img src="/assets/img/icon_35_social_fb(color).svg" alt="fb">
        </a>
      </div>

      <div class="item__image">
        <div class="picture">
          <img src="/assets/img/lg/image_item-content.png" alt="">
        </div>
        <div class="extra">
          <div class="extra-new active"></div>
          <div class="extra-stock active"></div>
        </div>
      </div>

      <div class="item__info">
        <div class="info-a">Роллы Унаги С Креветкой</div>
        <div class="info-b">
          <div>8 шт.</div>
          <div>152 г.</div>
        </div>
        <div class="info-c">
          <div class="component">
            <img src="/assets/img/composition_components/cc_01.png" alt="Рис">
            <span>Рис</span>
          </div>
          <div class="component">
            <img src="/assets/img/composition_components/cc_02.png" alt="Огурец">
            <span>Огурец</span>
          </div>
          <div class="component">
            <img src="/assets/img/composition_components/cc_03.png" alt="Сыр Филадельфия">
            <span>Сыр Филадельфия</span>
          </div>
          <div class="component">
            <img src="/assets/img/composition_components/cc_04.png" alt="Угорь">
            <span>Угорь</span>
          </div>
          <div class="component">
            <img src="/assets/img/composition_components/cc_05.png" alt="Креветка">
            <span>Креветка</span>
          </div>
          <div class="component">
            <img src="/assets/img/composition_components/cc_06.png" alt="Нори">
            <span>Нори</span>
          </div>
        </div>
        <div class="info-d">
          <div class="price__stock active">
            159 <span>₴</span>
          </div>
          <div class="price__current">
            139 <span>₴</span>
          </div>
        </div>
        <div class="info-e">
          <a class="minus" href="#"></a>
          <div class="counter">2</div>
          <a class="plus" href="#"></a>
        </div>
        <a class="info-f" href="#">
          <span>В корзину</span>
        </a>
      </div>

      <div class="delivery">
        <div class="icon-01"></div>
        <div class="title-01">Доставка</div>
        <div class="txt-01">
          <p>Бесплатная доставка <br>от 250 грн</p>
        </div>
        <div class="icon-02"></div>
        <div class="title-02">Оплата</div>
        <div class="txt-02">
          <p>Наличными</p>
          <p>Безналичным <br>(только в суши-баре)</p>
        </div>
        <div class="icon-03"></div>
        <div class="title-03">Заказ По Телефону</div>
        <div class="txt-03">
          <p>+38 (050) 50-65-888</p>
          <p>+38 (073) 50-65-888</p>
        </div>
      </div>

    </div>
  </div>
</div>
