@import '../../../_vars';

/* ITEM-CONTENT */
.item-content__main {
  margin-top: 40px;
  margin-bottom: 160px;

  display: grid;
  grid-template-columns: 340px minmax(0, 40px) 1fr 220px;
  grid-template-rows: 25px 1fr;
  grid-template-areas:
    "a . b c"
    "d . e f";
  grid-column-gap: 10px;
  grid-row-gap: 25px;

  align-content: flex-start;

  .breadcrumbs {
    grid-area: a;

    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;

    li {
      display: inline;
      font-size: 10px;

      a {
        color: #828282;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:active {
          color: @menu-active;
        }
      }
    }

    li + li:before {
      padding: 5px;
      color: #828282;
      content: "/";
    }
  }

  .btn-back {
    grid-area: b;

    height: 100%;
    width: 82px;
    border-radius: 5px;

    background-color: #eae9dc;

    color: #828282;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;

    display: grid;

    align-items: center;
    justify-items: center;

    &:hover {
      background-color: #828282;
      color: #eae9dc;
    }

    &:active {
      background-color: #eae9dc;
      color: #828282;
    }
  }

  .socials {
    grid-area: c;

    color: #828282;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;

    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 15px;

    align-items: center;

    img {
      width: 20px;
      height: auto;
    }
  }

  .item__image {
    grid-area: d;

    padding-top: 20px;

    position: relative;

    display: grid;
    justify-items: center;

    .picture {
      background-image: url('/assets/img/circle-bg.svg');
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;

      img {
        margin: -60px;
      }
    }

    .extra {
      position: absolute;
      top: 0;
      right: 5px;

      display: flex;
      flex-direction: column;

      .extra-new.active {
        display: block;
      }

      .extra-new {
        display: none;

        background-image: url('/assets/img/icons_50px/icon_50_new.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 80px;
        min-width: 80px;

        margin-bottom: 10px;
      }

      .extra-stock.active {
        display: block;
      }

      .extra-stock {
        display: none;

        background-image: url('/assets/img/icons_50px/icon_50_stock-active.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 80px;
        min-width: 80px;

        margin-bottom: 10px;
      }
    }
  }

  .item__info {
    grid-area: e;

    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    position: relative;

    &:after {
      border: 15px solid transparent;
      border-right-color: #fff;
      position: absolute;
      right: 100%;
      top: 82.5px;
      content: '';
    }

    &:hover {
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(30px, auto) 60px auto 30px 43px;
    grid-template-areas: "a a a"
    "b b ."
    "c c c"
    ". . ."
    "d e f";
    grid-column-gap: 10px;

    .info-a {
      grid-area: a;

      color: #000;
      font-size: 24px;
      font-weight: 900;
      line-height: 30px;
    }

    .info-b {
      grid-area: b;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 16px;
      align-items: center;

      div {
        display: grid;
        align-items: center;

        color: #4f4f4f;
        font-size: 12px;
        font-weight: 300;
        text-align: center;

        height: 17px;
        width: 50px;
        background-color: #f6f5eb;
        border-radius: 10px;
      }
    }

    .info-c {
      grid-area: c;

      padding: 20px 0 10px;
      border-top: 1px dotted #ebeadf;
      border-bottom: 1px dotted #ebeadf;

      display: grid;
      grid-template-columns: repeat(auto-fit, 70px);

      .component {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto;
        justify-items: center;

        text-align: center;

        span {
          color: #000;
          font-size: 10px;
          font-weight: 400;
        }
      }
    }

    .info-d {
      grid-area: d;

      display: flex;
      justify-content: space-around;
      align-items: center;

      .price__stock.active {
        display: flex;
        align-items: center;
      }

      .price__stock {
        display: none;
        color: #bdbdbd;
        font-size: 18px;
        font-weight: 700;

        margin-right: 5px;

        position: relative;

        &:after {
          content: "";
          background-color: @menu-active;
          opacity: 0.5;
          height: 3px;
          width: 80%;
          position: absolute;
          top: 47.5%;
          left: -5%;
          transform: rotate(30deg);
        }

        span {
          color: #bdbdbd;
          font-size: 10px;
          font-weight: 300;

          margin-left: 5px;
        }
      }

      .price__current {
        color: #000;
        font-size: 24px;
        font-weight: 700;

        display: flex;
        align-items: center;

        margin-right: 5px;

        span {
          color: #4f4f4f;
          font-size: 12px;
          font-weight: 300;

          margin-left: 5px;
        }
      }
    }

    .info-e {
      grid-area: e;

      display: grid;
      grid-template-columns: repeat(3, 30px);
      grid-template-rows: 30px;
      grid-column-gap: 10px;

      align-content: center;

      .minus {
        background-image: url('/assets/img/icons_30px/icon_30_minus.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:hover {
          background-image: url('/assets/img/icons_30px/icon_30_minus-active.svg');
        }

        &:active {
          filter: contrast(50%);
        }
      }

      .plus {
        background-image: url('/assets/img/icons_30px/icon_30_plus.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:hover {
          background-image: url('/assets/img/icons_30px/icon_30_plus-active.svg');
        }

        &:active {
          filter: contrast(50%);
        }
      }

      .counter {
        text-align: center;

        color: #4f4f4f;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;

        width: 100%;

        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #fff5f4;

      }
    }

    .info-f {
      grid-area: f;

      height: 100%;
      width: 138px;
      background-color: #fff;
      border: 1px solid @menu-active;
      border-radius: 10px;

      text-decoration: none;
      text-align: center;

      color: @menu-active;
      font-size: 14px;
      font-weight: 700;

      display: grid;

      transition: color .1s linear;

      &:hover {
        color: #fff;
        background-color: @menu-active;
      }

      span {
        align-self: center;
      }
    }
  }

  .delivery {
    grid-area: f;

    background-color: #fff;
    border-radius: 10px;
    padding: 30px 20px;

    &:hover {
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    }

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "a b"
    ". c"
    "d e"
    ". f"
    "g h"
    ". i";

    grid-column-gap: 16px;

    .icon-01 {
      grid-area: a;

      background-image: url('/assets/img/icon_delivery-01.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      width: 24px;
      height: 24px;
    }

    .title-01 {
      grid-area: b;

      color: #000;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    .txt-01 {
      grid-area: c;

      color: #828282;
      font-size: 12px;
      font-weight: 400;
    }

    .icon-02 {
      grid-area: d;

      background-image: url('/assets/img/icon_delivery-02.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      width: 24px;
      height: 24px;
    }

    .title-02 {
      grid-area: e;

      color: #000;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    .txt-02 {
      grid-area: f;

      color: #828282;
      font-size: 12px;
      font-weight: 400;
    }

    .icon-03 {
      grid-area: g;

      background-image: url('/assets/img/icon_delivery-03.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      width: 24px;
      height: 24px;
    }

    .title-03 {
      grid-area: h;

      color: #000;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    .txt-03 {
      grid-area: i;

      color: #828282;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

/* ITEM-POP-UP */
.item-pop-up {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100%;

  overflow: hidden;
  position: fixed;
  top: 0;
}

.item-pop-up__main {
  margin: 200px auto 0;
  background-color: #fff;
  border-radius: 10px;

  width: 930px;

  display: grid;
  grid-template-columns: 40px 360px minmax(0, 40px) 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "a . . ."
    ". b . c";

  padding: 20px 50px 50px 20px;

  &:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  }

  .btn-close {
    grid-area: a;

    height: 100%;
    width: 100%;

    background-image: url('/assets/img/icon_40_btn-close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:hover {
      background-image: url('/assets/img/icon_40_btn-close-active.svg');
    }

    &:active {
      filter: saturate(50%);
    }
  }

  .item__image {
    grid-area: b;

    position: relative;

    display: grid;
    justify-items: center;

    .picture {
      background-image: url('/assets/img/circle-bg.svg');
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;

      img {
        margin: -20px;
      }
    }

    .extra {
      position: absolute;
      top: 0;
      right: 5px;

      display: flex;
      flex-direction: column;

      .extra-new.active {
        display: block;
      }

      .extra-new {
        display: none;

        background-image: url('/assets/img/icons_50px/icon_50_new.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 80px;
        min-width: 80px;

        margin-bottom: 10px;
      }

      .extra-stock.active {
        display: block;
      }

      .extra-stock {
        display: none;

        background-image: url('/assets/img/icons_50px/icon_50_stock-active.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 80px;
        min-width: 80px;

        margin-bottom: 10px;
      }
    }
  }

  .item__info {
    grid-area: c;

    background-color: #fff;
    border-radius: 10px;
    border: 2px dashed #e0e0e0;
    padding: 30px;
    position: relative;

    &:before {
      position: absolute;
      right: 100%;
      top: 79.5px;
      content: url('/assets/img/pop-up_before.svg');
    }

    &:after {
      border: 15px solid transparent;
      border-right-color: #fff;
      position: absolute;
      right: 100%;
      top: 82.5px;
      content: '';
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(30px, auto) 60px auto 30px 43px;
    grid-template-areas: "a a a"
    "b b ."
    "c c c"
    ". . ."
    "d e f";
    grid-column-gap: 10px;

    .info-a {
      grid-area: a;

      color: #000;
      font-size: 24px;
      font-weight: 900;
      line-height: 30px;
    }

    .info-b {
      grid-area: b;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 16px;
      align-items: center;

      div {
        display: grid;
        align-items: center;

        color: #4f4f4f;
        font-size: 12px;
        font-weight: 300;
        text-align: center;

        height: 17px;
        width: 50px;
        background-color: #f6f5eb;
        border-radius: 10px;
      }
    }

    .info-c {
      grid-area: c;

      padding: 20px 0 10px;
      border-top: 1px dotted #ebeadf;
      border-bottom: 1px dotted #ebeadf;

      display: grid;
      grid-template-columns: repeat(auto-fit, 70px);

      .component {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto;
        justify-items: center;

        text-align: center;

        span {
          color: #000;
          font-size: 10px;
          font-weight: 400;
        }
      }
    }

    .info-d {
      grid-area: d;

      display: flex;
      justify-content: space-around;
      align-items: center;

      .price__stock.active {
        display: flex;
        align-items: center;
      }

      .price__stock {
        display: none;
        color: #bdbdbd;
        font-size: 18px;
        font-weight: 700;

        margin-right: 5px;

        position: relative;

        &:after {
          content: "";
          background-color: @menu-active;
          opacity: 0.5;
          height: 3px;
          width: 80%;
          position: absolute;
          top: 47.5%;
          left: -5%;
          transform: rotate(30deg);
        }

        span {
          color: #bdbdbd;
          font-size: 10px;
          font-weight: 300;

          margin-left: 5px;
        }
      }

      .price__current {
        color: #000;
        font-size: 24px;
        font-weight: 700;

        display: flex;
        align-items: center;

        margin-right: 5px;

        span {
          color: #4f4f4f;
          font-size: 12px;
          font-weight: 300;

          margin-left: 5px;
        }
      }
    }

    .info-e {
      grid-area: e;

      display: grid;
      grid-template-columns: repeat(3, 30px);
      grid-template-rows: 30px;
      grid-column-gap: 10px;

      align-content: center;

      .minus {
        background-image: url('/assets/img/icons_30px/icon_30_minus.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:hover {
          background-image: url('/assets/img/icons_30px/icon_30_minus-active.svg');
        }

        &:active {
          filter: contrast(50%);
        }
      }

      .plus {
        background-image: url('/assets/img/icons_30px/icon_30_plus.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:hover {
          background-image: url('/assets/img/icons_30px/icon_30_plus-active.svg');
        }

        &:active {
          filter: contrast(50%);
        }
      }

      .counter {
        text-align: center;

        color: #4f4f4f;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;

        width: 100%;

        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #fff5f4;

      }
    }

    .info-f {
      grid-area: f;

      height: 100%;
      width: 138px;
      background-color: #fff;
      border: 1px solid @menu-active;
      border-radius: 10px;

      text-decoration: none;
      text-align: center;

      color: @menu-active;
      font-size: 14px;
      font-weight: 700;

      display: grid;

      transition: color .1s linear;

      &:hover {
        color: #fff;
        background-color: @menu-active;
      }

      span {
        align-self: center;
      }
    }
  }
}



/* MEDIA QUERY */
@media (max-width: 1140px) {
  /* ITEM-CONTENT */
  .item-content__main {
    margin: 40px auto;

    display: grid;
    grid-template-columns: 100px 240px 100px;
    grid-template-rows: 25px auto 1fr auto;
    grid-template-areas:
      "a a a"
      "b d c"
      "e e e"
      "f f f";
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    justify-content: center;

    .btn-back {
      grid-area: b;

      height: 45px;
      width: 100%;
    }

    .socials {
      grid-area: c;

      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto 1fr;
      grid-column-gap: 15px;

      align-items: flex-start;
      justify-content: flex-end;

      img {
        width: 35px;
        height: auto;
      }

      span {
        display: none;
      }
    }

    .item__image {
      grid-area: d;

      padding-top: 20px;

      position: relative;

      display: grid;
      justify-items: center;

      .picture {
        background-image: url('/assets/img/circle-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        img {
          margin: 0;
          object-fit: fill;
          width: 240px;
          height: 240px;
        }
      }

      .extra {
        position: absolute;
        top: 0;
        right: 5px;

        display: flex;
        flex-direction: column;

        .extra-new.active {
          display: block;
        }

        .extra-new {
          display: none;

          background-image: url('/assets/img/icons_50px/icon_50_new.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          min-height: 50px;
          min-width: 50px;

          margin-bottom: 10px;
        }

        .extra-stock.active {
          display: block;
        }

        .extra-stock {
          display: none;

          background-image: url('/assets/img/icons_50px/icon_50_stock-active.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          min-height: 50px;
          min-width: 50px;

          margin-bottom: 10px;
        }
      }
    }

    .item__info {
      grid-area: e;

      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      position: relative;

      min-width: 430px;

      &:after {
        border: 15px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        right: 50%;
        top: -30px;
        bottom: 100%;
        content: '';
      }

      &:hover {
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
      }

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: minmax(30px, auto) 60px auto 30px 45px 20px 43px;
      grid-template-areas: "a a a"
      "b b b"
      "c c c"
      ". . ."
      "d e e"
      ". . ."
      "f f f";
      grid-column-gap: 10px;

      .info-a {
        grid-area: a;

        color: #000;
        font-size: 24px;
        font-weight: 900;
        line-height: 30px;
      }

      .info-b {
        grid-area: b;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 16px;
        align-items: center;

        div {
          display: grid;
          align-items: center;

          color: #4f4f4f;
          font-size: 12px;
          font-weight: 300;
          text-align: center;

          height: 17px;
          width: 50px;
          background-color: #f6f5eb;
          border-radius: 10px;
        }
      }

      .info-c {
        grid-area: c;

        padding: 20px 0 10px;
        border-top: 1px dotted #ebeadf;
        border-bottom: 1px dotted #ebeadf;

        display: grid;
        grid-template-columns: repeat(auto-fit, 70px);

        .component {
          margin-top: 5px;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 60px auto;
          justify-items: center;

          text-align: center;

          span {
            color: #000;
            font-size: 10px;
            font-weight: 400;
          }
        }
      }

      .info-d {
        grid-area: d;

        display: flex;
        justify-content: space-around;
        align-items: center;

        .price__stock.active {
          display: flex;
          align-items: center;
        }

        .price__stock {
          display: none;
          color: #bdbdbd;
          font-size: 24px;
          font-weight: 700;

          margin-right: 5px;

          position: relative;

          &:after {
            content: "";
            background-color: @menu-active;
            opacity: 0.5;
            height: 3px;
            width: 80%;
            position: absolute;
            top: 47.5%;
            left: -5%;
            transform: rotate(30deg);
          }

          span {
            color: #bdbdbd;
            font-size: 12px;
            font-weight: 300;

            margin-left: 5px;
          }
        }

        .price__current {
          color: #000;
          font-size: 36px;
          font-weight: 700;

          display: flex;
          align-items: center;

          margin-right: 5px;

          span {
            color: #4f4f4f;
            font-size: 14px;
            font-weight: 300;

            margin-left: 5px;
          }
        }
      }

      .info-e {
        grid-area: e;

        display: grid;
        grid-template-columns: 100px 45px 100px;
        grid-template-rows: 45px;
        grid-column-gap: 15px;
        justify-content: center;

        .minus {
          background-image: url('/assets/img/icon_100_minus.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          &:hover {
            background-image: url('/assets/img/icon_100_minus-active.svg');
          }

          &:active {
            filter: contrast(50%);
          }
        }

        .plus {
          background-image: url('/assets/img/icon_100_plus.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          &:hover {
            background-image: url('/assets/img/icon_100_plus-active.svg');
          }

          &:active {
            filter: contrast(50%);
          }
        }

        .counter {
          text-align: center;

          color: #4f4f4f;
          font-size: 18px;
          font-weight: 400;
          line-height: 45px;

          width: 100%;

          background-color: #fff;
          border-radius: 10px;
          border: 1px solid #fff5f4;

        }
      }

      .info-f {
        grid-area: f;

        align-self: center;
        justify-self: center;

        height: 100%;
        width: 400px;
        background-color: #fff;
        border: 1px solid @menu-active;
        border-radius: 10px;

        text-decoration: none;
        text-align: center;

        color: @menu-active;
        font-size: 14px;
        font-weight: 700;

        display: grid;

        transition: color .1s linear;

        &:hover {
          color: #fff;
          background-color: @menu-active;
        }

        span {
          align-self: center;
        }
      }
    }

    .delivery {
      grid-area: f;

      background-color: #fff;
      border-radius: 10px;
      padding: 20px;

      &:hover {
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
      }

      display: grid;
      grid-template-columns: auto 130px 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "a b c"
      "d e f"
      "g h i";

      grid-column-gap: 10px;

      .icon-01 {
        grid-area: a;

        margin: 12px 0;

        background-image: url('/assets/img/icon_delivery-01.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 24px;
        height: 24px;
      }

      .title-01 {
        grid-area: b;

        margin: 12px 0;

        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
      }

      .txt-01 {
        grid-area: c;

        color: #828282;
        font-size: 12px;
        font-weight: 400;
      }

      .icon-02 {
        grid-area: d;

        margin: 12px 0;

        background-image: url('/assets/img/icon_delivery-02.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 24px;
        height: 24px;
      }

      .title-02 {
        grid-area: e;

        margin: 12px 0;

        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
      }

      .txt-02 {
        grid-area: f;

        color: #828282;
        font-size: 12px;
        font-weight: 400;
      }

      .icon-03 {
        grid-area: g;

        margin: 12px 0;

        background-image: url('/assets/img/icon_delivery-03.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 24px;
        height: 24px;
      }

      .title-03 {
        grid-area: h;

        margin: 12px 0;

        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
      }

      .txt-03 {
        grid-area: i;

        color: #828282;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  /* ITEM-POP-UP */
  .item-pop-up__main {
    margin: 200px auto 0;
    background-color: #fff;
    border-radius: 10px;

    width: 440px;

    display: grid;
    grid-template-columns: 40px 360px 40px;
    grid-template-rows: 40px 360px minmax(0, 40px) 1fr;
    grid-template-areas:
      "a . ."
      "b b b"
      ". . ."
      "c c c";

    padding: 20px 20px 40px 20px;

    &:hover {
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    }

    .btn-close {
      grid-area: a;

      height: 100%;
      width: 100%;

      background-image: url('/assets/img/icon_40_btn-close.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &:hover {
        background-image: url('/assets/img/icon_40_btn-close-active.svg');
      }

      &:active {
        filter: saturate(50%);
      }
    }

    .item__image {
      grid-area: b;

      position: relative;

      display: grid;
      justify-items: center;

      .picture {
        background-image: url('/assets/img/circle-bg.svg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;

        img {
          margin: -20px;
        }
      }

      .extra {
        position: absolute;
        top: 0;
        right: 5px;

        display: flex;
        flex-direction: column;

        .extra-new.active {
          display: block;
        }

        .extra-new {
          display: none;

          background-image: url('/assets/img/icons_50px/icon_50_new.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          min-height: 80px;
          min-width: 80px;

          margin-bottom: 10px;
        }

        .extra-stock.active {
          display: block;
        }

        .extra-stock {
          display: none;

          background-image: url('/assets/img/icons_50px/icon_50_stock-active.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          min-height: 80px;
          min-width: 80px;

          margin-bottom: 10px;
        }
      }
    }

    .item__info {
      grid-area: c;

      background-color: #fff;
      border-radius: 10px;
      border: 2px dashed #e0e0e0;
      padding: 30px;
      position: relative;

      &:before {
        position: absolute;
        right: 213px;
        top: -30px;
        content: url('/assets/img/pop-up_before.svg');
        transform: rotate(90deg);
      }

      &:after {
        border: 15px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        bottom: 100%;
        right: 205px;
        top: -29px;
        content: '';
      }

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: minmax(30px, auto) 60px auto 30px 43px;
      grid-template-areas: "a a a"
      "b b ."
      "c c c"
      ". . ."
      "d e f";
      grid-column-gap: 10px;

      .info-a {
        grid-area: a;

        color: #000;
        font-size: 24px;
        font-weight: 900;
        line-height: 30px;
      }

      .info-b {
        grid-area: b;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 16px;
        align-items: center;

        div {
          display: grid;
          align-items: center;

          color: #4f4f4f;
          font-size: 12px;
          font-weight: 300;
          text-align: center;

          height: 17px;
          width: 50px;
          background-color: #f6f5eb;
          border-radius: 10px;
        }
      }

      .info-c {
        grid-area: c;

        padding: 20px 0 10px;
        border-top: 1px dotted #ebeadf;
        border-bottom: 1px dotted #ebeadf;

        display: grid;
        grid-template-columns: repeat(auto-fit, 70px);

        .component {
          margin-top: 5px;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 60px auto;
          justify-items: center;

          text-align: center;

          span {
            color: #000;
            font-size: 10px;
            font-weight: 400;
          }
        }
      }

      .info-d {
        grid-area: d;

        display: flex;
        justify-content: space-around;
        align-items: center;

        .price__stock.active {
          display: flex;
          align-items: center;
        }

        .price__stock {
          display: none;
          color: #bdbdbd;
          font-size: 18px;
          font-weight: 700;

          margin-right: 5px;

          position: relative;

          &:after {
            content: "";
            background-color: @menu-active;
            opacity: 0.5;
            height: 3px;
            width: 80%;
            position: absolute;
            top: 47.5%;
            left: -5%;
            transform: rotate(30deg);
          }

          span {
            color: #bdbdbd;
            font-size: 10px;
            font-weight: 300;

            margin-left: 5px;
          }
        }

        .price__current {
          color: #000;
          font-size: 24px;
          font-weight: 700;

          display: flex;
          align-items: center;

          margin-right: 5px;

          span {
            color: #4f4f4f;
            font-size: 12px;
            font-weight: 300;

            margin-left: 5px;
          }
        }
      }

      .info-e {
        grid-area: e;

        display: grid;
        grid-template-columns: repeat(3, 30px);
        grid-template-rows: 30px;
        grid-column-gap: 10px;

        align-content: center;

        .minus {
          background-image: url('/assets/img/icons_30px/icon_30_minus.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          &:hover {
            background-image: url('/assets/img/icons_30px/icon_30_minus-active.svg');
          }

          &:active {
            filter: contrast(50%);
          }
        }

        .plus {
          background-image: url('/assets/img/icons_30px/icon_30_plus.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          &:hover {
            background-image: url('/assets/img/icons_30px/icon_30_plus-active.svg');
          }

          &:active {
            filter: contrast(50%);
          }
        }

        .counter {
          text-align: center;

          color: #4f4f4f;
          font-size: 14px;
          font-weight: 400;
          line-height: 30px;

          width: 100%;

          background-color: #fff;
          border-radius: 10px;
          border: 1px solid #fff5f4;

        }
      }

      .info-f {
        grid-area: f;

        height: 100%;
        width: 138px;
        background-color: #fff;
        border: 1px solid @menu-active;
        border-radius: 10px;

        text-decoration: none;
        text-align: center;

        color: @menu-active;
        font-size: 14px;
        font-weight: 700;

        display: grid;

        transition: color .1s linear;

        &:hover {
          color: #fff;
          background-color: @menu-active;
        }

        span {
          align-self: center;
        }
      }
    }
  }
}
