@import '_vars';

html {
  min-height: 100%;
}

body {
  background-color: #fcfcfc;
  height: 100%;
  margin: 0;

  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.wrapper {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 15px;
}

.main {
  margin: 0 auto;
}

a {
  transition: .1s linear;
}
