<div class="account">
  <div class="header-wrapper wrapper">
    <div class="account__main">
      <ul class="breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Личный кабинет</a></li>
      </ul>
      <div class="account__menu">
        <div class="menu-title">Личный Кабинет</div>
        <div class="menu-items">
          <a href="#" class="item active">Мой профиль</a>
          <a href="#" class="item">Мои адреса</a>
          <a href="#" class="item">Заказы</a>
        </div>
      </div>
      <div class="item-registration">
        <div class="item-title">Регистрационная информация</div>
        <form action="#" method="post" class="reg-form">
          <input type="text" name="login" value="Имя Фамилия">
          <input type="date" name="date" value="дд.мм.гггг">

          <input type="text" name="password" value="Новый пароль">
          <input type="text" name="confirm-password" value="Подтвердить новый пароль">
        </form>
        <input type="submit" value="Сохранить" class="btn-save">
      </div>
      <div class="item-address"></div>
      <div class="item-history"></div>
    </div>
  </div>
</div>
