<div class="item-registration">
  <div class="item-title">{{ 'profile.register_info' | translate }}</div>
  <form action="#" method="post" class="reg-form">
    <input type="text" name="login" placeholder="{{ 'order.first_last_name' | translate }}">
    <input type="date" name="date" placeholder="{{ 'profile.dd_mm_yyyy' | translate }}">

    <input type="text" name="password" placeholder="{{ 'profile.new_password' | translate }}">
    <input type="text" name="confirm-password" placeholder="{{ 'profile.confirm_new_password' | translate }}">
  </form>
  <input type="submit" value="{{ 'profile.save' | translate }}" class="btn-save">
</div>
